@import "../../styles";

.box {
  background-color: #F1F1F1;
  width: 100%;
  height: 100%;
  padding: 30px 30px 5vh 60px;
}

.bigTitle {
  color: #363537;
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

.problem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-prob {
  width: 50%;
  min-width: 35em;
}

.text-rec {
  width: 40%;
  min-width: 15em;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  height: fit-content;
  align-self: center;
}


.title {
  @include subtitlebox;
}

.text {
  font-size: 20px;
  color: #363537;
}

.titlerecycling {
  font-size: 30px;
  // font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.textrecycling {
  font-size: 20px;
  color: #363537;
}

.innerflexRecy {
  margin-top: 50px;
}

@media screen and (max-width: 1400px){
  .text-prob {
    width: 100%;
  }
  .text-rec {
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width: 650px){
  .text-prob, .text-rec {
    min-width: 100%;
  }
}
