<div class="box">
  <div class="problem">
    <div class="text-prob">

      <div class="bigTitle">Das Problem mit Plastik</div>


      <div class="innerflexKonsum">
        <div class="title">Recycling</div>
        <div class="text">
          Das Recycling von Plastik läuft leider deutlich schlechter als es vielen bewusst ist. Aktuell
          werden weltweit nur 14% des gesamten Plastikmülls recycelt<sup>1</sup>. Die restlichen 86% des Mülls landen in unsere
          Umwelt und verschmutzen die Erde, die Meere und
          die Luft. Je nach Plastikart kann es bis zu 450 Jahre dauern, bis das Plastik zerfällt<sup>2</sup>. Der Zerfall
          bedeutet jedoch nicht, dass die Welt danach eine bessere beworden ist - nein. Wenn ein Plastikprodukt
          zerfällt, so wird es im Form von Mikroplastik von den Tieren, der Erde und schließlich auch uns aufgenommen<sup>3</sup>.
        </div>
      </div>

      <div class="innerflexRecy">
        <div class="title">Hoher Konsum</div>
        <div class="text">
          Ein weiteres Problem ist, in Kombination mit der schlechten Entsorgung, der
          hohe Plastik-Konusm.
          2020 wurden z.B. weltweit 367.000.000 Tonnen Plastik hergestellt<sup>4</sup>.
          Ohne Frage: Plastik ist als Material sehr Vielseitig und billig in der Herstellung (dementsprechend auch im
          Verkauf). Jedoch ist der Schaden, der dadurch
          erzeugt wird nicht verhätnissmäßig. Wenn wir davon ausgehen, dass auch in diesem Jahr nur 14% recycelt worden
          sind,
          so sind es 315.620.000 Tonnen Plastik die unsere Erde nur in diesem Jahr verarbeiten muss.
        </div>
      </div>
    </div>

    <div class="text-rec">
      <img class="img-fluid rounded" src="assets/images/statista.png" alt="Statistik">
    </div>


  </div>


</div>
