<div class="box">
  <div class="problem">
    <div class="text-prob">

  <div class="bigTitle">Das Problem mit Plastik</div>




      <div class="innerflexKonsum">
        <div class="title">Recycling</div>
        <div class="text">
          Das Recycling von Plastik läuft leider deutlich schlechte, als es üblicherweise vermarktet wird. Aktuell
          werden weltweit nur 14% des gesamten Plastikmülls recycelt. Dabei enthalten ist auch der Müll, welche
          downcycelt wird. Die restlichen 86% des Mülls landen in unsere Umwelt und verschmutzen die Erde, die Meere und
          die Luft. Oft wird das Plastik verbrannt, da auf Deponien nicht mehr ausreichen Platz herrscht.
        </div>
      </div>

      <div class="innerflexRecy">
        <div class="title">Hoher Konsum</div>
        <div class="text">
          Der Plastik-Konsum ist ein Kriterium, weshalb Plastik überhaupt zum Problem wird. Beispielsweise wurden im
          Jahr
          2020
          weltweit 367.000.000 Tonnen Plastik hergestellt (vgl. 1). Wenn man sich nur vorstellt wie groß der Berg aus
          Plastik ist,
          der jedes Jahr aufs Neue entsteht, dann ist das schon beängstigend.
          Ohne Frage: Plastik ist als Material sehr Vielseitig, billig in der Herstellung (dementsprechend auch im
          Verkauf) und vorteilhaft in weitern Bereichen wie z.B. im Transport. Jedoch ist der Schaden, der dadurch
          erzeugt
          wird nicht verhätnissmäßig.

        </div>
      </div>
    </div>

    <div class="text-rec">
      <img class="img-fluid rounded" src="assets/images/statista.png" alt="Statistik">
    </div>


  </div>


</div>
