<div class="bg-img" title="Das Bild">
  <div class="conti">

    <div class="topnav">
      <a (click)="scrollToFunc('problem')">Das Problem mit Plastik</a>
      <a (click)="scrollToFunc('mission')">Unsers Mission</a>
      <a (click)="scrollToFunc('demo')">Live Demo</a>
    </div>

    <div class="logo"></div>

    <div class="title">
      <div class="titletext">
        Less Plastic. More Life.
      </div>
      <div class="quote">Der Mensch zerstört sich so lange seine Umwelt, bis er sie sich dann aus Plastik schaffen kann</div>
      <div class="quoteaut">- Damaris Wiese, deutsche Lyrikerin und Dichterin</div>
    </div>
  </div>
</div>
