@import "../../styles";



.bg-img {
  background-image: url("../../../src/assets/images/PlastikOceanA.jpeg");
  height: 50em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.conti {
  position: absolute;
  width: 100%;
  height: 100%;
}

.topnav {
  margin-left: 2vw;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.topnav a {
  @include navbox;
}

.topnav a:hover {
  @include navboxhover
}


.logo {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


.title {
  position: absolute;
  left: 10px;
  top: 30%;
  color: white;
  margin: 20px;
  height: auto;
  width: auto;
  padding: 30px;
  border-radius: 5px;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.titletext {
  @include title(white);
}

.quote {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.quoteaut {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
}

nav {
  z-index: 1000;
  box-shadow: 0 5px 10px lightgray;
}

/* header on default */
.primary-header {
  align-items: center;
  justify-content: space-between;
  display: none;
  z-index: 1000;
  box-shadow: 0 5px 10px lightgray;
}

/* button on default */
.mobile-nav-toggle {
  display: none;
}

/* Navigation on default */
.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(0, 0%, 0%, 0.75);
}

.primary-navigation a {
  text-decoration: none;
}

/* if blur is supported */
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0, 0%, 100%, 0.6);
    backdrop-filter: blur(1rem);
  }

  .buttons {
    color: white;
  }
}

@media (max-width: 900px) {

  .logo {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;

  }
  .primary-header {
    display: block;
  }

  a:hover {
    cursor: pointer;
  }

  .topnav {
    display: none;
  }

  .primary-navigation {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 45%;
    flex-direction: column;
    padding: min(30vh, 8rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation > li {
    margin-top: 30px;
    font-size: 20px;
    color: #BED8D1;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    width: 5vw;
    border: 0;
    aspect-ratio: 1;
    top: 4em;
    right: 1em;
    z-index: 10000;
    background: transparent url("../../../src/assets/images/menu_white.svg") no-repeat;
  }


  .mobile-nav-toggle[aria-expanded="true"] {
    position: fixed;
    background-image: url("../../../src/assets/images/close_white.svg");
  }

}

@media screen and (max-width: 650px){
  .quote, .quoteaut {
    display: none;
  }

  .title {
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
  }


}




