<div class="mission">

  <div class="title">Unsere Mission</div>
  <div class="beschr">Laut einer <span (click)="openImg()">Statistik</span> trägt der Verpackungsmüll mit rund 60%
    am meisten bei den Post-Consumer-Abfälle von Kunstoff bei. Unser <b>Ziel</b> ist
    es mit technischen Lösungen diesen Konsum zu minimieren!
  </div>

  <!-- <div class="flex">
     <div class="flex1">
       <div class="subtitle">Plastik-Fußabdruck</div>
       <div class="text">
         Nach jedem Einkauf soll auf die Quittung der, durch den Einkauf, entstandene Plastik-Fußabdruck gedruckt werden.
         Dadurch soll ein größeres Bewusstsein beim Einkauf entstehen.
         Ein Bundensland einheitliches Gesetz verpflichtet die Händler (ähnliche
         wie bei der Nährwerttabelle) ihren ökologischen Foodprint des Produktes zu übermitteln.
       </div>
       <div class="icon">
         <svg xmlns="http://www.w3.org/2000/svg" width="71.837" height="63.855" viewBox="0 0 71.837 63.855">
           <path id="ic_store_mall_directory_24px"
                 d="M70.846,4H6.991v7.982H70.846Zm3.991,39.91V35.928L70.846,15.973H6.991L3,35.928V43.91H6.991V67.855H46.9V43.91H62.865V67.855h7.982V43.91ZM38.919,59.874H14.973V43.91H38.919Z"
                 transform="translate(-3 -4)" fill="#bed8d1"/>
         </svg>

       </div>
     </div>
     <div class="flex2">
       <div class="subtitle">Payback</div>
       <div class="text">Durch ein Payback-Belohnungssystem soll der Kauf von Waren mit einem guten ökologischem
         Fußabdruck belohnt werden. Bei dem Kauf von umweltfreundlichen Produkten gibt es Punkte, welche man ab einer
         bestimmten Punktzahl einlösen oder für einen größeren Gewinn sparen kann.
       </div>
       <div class="icon">
         <svg xmlns="http://www.w3.org/2000/svg" width="75.892" height="69.631" viewBox="0 0 75.892 69.631">
           <path id="ic_favorite_24px"
                 d="M39.946,72.631l-5.5-5.009C14.9,49.9,2,38.214,2,23.87A20.667,20.667,0,0,1,22.87,3a22.723,22.723,0,0,1,17.076,7.931A22.723,22.723,0,0,1,57.021,3a20.667,20.667,0,0,1,20.87,20.87c0,14.344-12.9,26.031-32.444,43.789Z"
                 transform="translate(-2 -3)" fill="#bed8d1"/>
         </svg>
       </div>
     </div>
     <div class="flex3">
       <div class="subtitle">App-Erweiterung</div>
       <div class="text">
         Eine App soll die vorherigen Lösungen zusammenfassen und vervollständigen. Es soll mit ihr möglich sein, bereits
         während des Einkaufs, die Ware zu scannen und nach ihrem ökologischem Fußabdruck zu prüfen.
       </div>
       <div class="icon">
         <svg xmlns="http://www.w3.org/2000/svg" width="52.511" height="82.518" viewBox="0 0 52.511 82.518">
           <path id="ic_phone_android_24px"
                 d="M46.259,1H16.252A11.237,11.237,0,0,0,5,12.252V72.265A11.237,11.237,0,0,0,16.252,83.518H46.259A11.237,11.237,0,0,0,57.511,72.265V12.252A11.237,11.237,0,0,0,46.259,1Zm-7.5,75.016h-15V72.265h15Zm12.19-11.252H11.564V12.252H50.947Z"
                 transform="translate(-5 -1)" fill="#bed8d1"/>
         </svg>
       </div>
     </div>
   </div>
   -->

  <div class="horzFlex">


    <div class="vertText">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="71.837" height="63.855" viewBox="0 0 71.837 63.855">
          <path id="ic_store_mall_directory_24px"
                d="M70.846,4H6.991v7.982H70.846Zm3.991,39.91V35.928L70.846,15.973H6.991L3,35.928V43.91H6.991V67.855H46.9V43.91H62.865V67.855h7.982V43.91ZM38.919,59.874H14.973V43.91H38.919Z"
                transform="translate(-3 -4)" fill="#bed8d1"/>
        </svg>
      </div>
      <br>
      Nach jedem Einkauf soll auf die Quittung der, durch den Einkauf, entstandene Plastik-Fußabdruck gedruckt werden.
      Dadurch soll ein größeres Bewusstsein beim Einkauf entstehen.
      Ein Bundensland einheitliches Gesetz verpflichtet die Händler (ähnlich
      wie bei der Nährwerttabelle) ihren ökologischen Foodprint des Produktes zu übermitteln.
    </div>

    <div class="vertText">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="75.892" height="69.631" viewBox="0 0 75.892 69.631">
          <path id="ic_favorite_24px"
                d="M39.946,72.631l-5.5-5.009C14.9,49.9,2,38.214,2,23.87A20.667,20.667,0,0,1,22.87,3a22.723,22.723,0,0,1,17.076,7.931A22.723,22.723,0,0,1,57.021,3a20.667,20.667,0,0,1,20.87,20.87c0,14.344-12.9,26.031-32.444,43.789Z"
                transform="translate(-2 -3)" fill="#bed8d1"/>
        </svg>
      </div>
      <br>
      Durch ein Payback-Belohnungssystem soll der Kauf von Waren mit einem guten ökologischem
      Fußabdruck belohnt werden. Bei dem Kauf von umweltfreundlichen Produkten gibt es Punkte, welche man ab einer
      bestimmten Punktzahl einlösen oder für einen größeren Gewinn sparen kann.
    </div>

    <div class="vertText">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="52.511" height="82.518" viewBox="0 0 52.511 82.518">
          <path id="ic_phone_android_24px"
                d="M46.259,1H16.252A11.237,11.237,0,0,0,5,12.252V72.265A11.237,11.237,0,0,0,16.252,83.518H46.259A11.237,11.237,0,0,0,57.511,72.265V12.252A11.237,11.237,0,0,0,46.259,1Zm-7.5,75.016h-15V72.265h15Zm12.19-11.252H11.564V12.252H50.947Z"
                transform="translate(-5 -1)" fill="#bed8d1"/>
        </svg>

      </div>
      <br>
      Eine App soll die vorherigen Lösungen zusammenfassen und vervollständigen. Es soll mit ihr
      möglich sein, bereits
      während des Einkaufs, die Ware zu scannen und nach ihrem ökologischen Fußabdruck zu prüfen.
    </div>
  </div>

</div>
