<app-title (scrollTo)="scrollTo($event)" id="title"></app-title>

<app-problem id="problem"></app-problem>

<app-mission id="mission"></app-mission>

<app-demo id="demo"></app-demo>

<div class="goHome" (click)="scrollTo('')">
  <svg xmlns="http://www.w3.org/2000/svg" width="29.323" height="29.323" viewBox="0 0 29.323 29.323">
    <path id="ic_arrow_upward_24px" d="M4,18.661l2.584,2.584L16.829,11.019v22.3h3.665v-22.3L30.72,21.264l2.6-2.6L18.661,4Z" transform="translate(-4 -4)" fill="#bed8d1"/>
  </svg>
</div>

<app-footer></app-footer>

