<div class="modal-header">
  <h4 class="modal-title">Impressum</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body" style="overflow-x: clip; overflow-y: scroll">
  Valentin Lenzing<br>
  Cyril Brückel<br>
  Julian Scheffler <br>
  <br>
  Technische Hochschule Mittelhessen<br>
  University of Applied Sciences <br>
  <br>
  Wiesenstraße 14<br>
  D - 35390 Gießen <br>
  <br>
  info@lpml.de<br>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Schließen</button>
</div>
