<div class="modal-header">
  <h4 class="modal-title">Literaturverzeichnis</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body" style="overflow-x: clip; overflow-y: scroll">
  1. Plastik in Zahlen: Interessante Zahlen aus unserer Welt voller Kunststoffe: in: wir-lieben-recycling, o.D.,
  https://wir-lieben-recycling.de/recycling-in-zahlen/plastik-in-zahlen/ (abgerufen am 22.08.2022)
  <br>
  <br>
  2. Suhr, Frauke: Natur- und Umweltschutz: Plastik währt ewig in den Ozeanen, in: statista, 2019,
  https://de.statista.com/infografik/17508/haltbarkeit-von-plastikmuell-im-meer/ (abgerufen am 23.08.2022)
  <br>
  <br>
  3. Scherrer, Pascal: Plastikmüll: So lange dauert es, bis er zersetzt ist: An unserem Plastik werden selbst noch
  unsere Ur-Ur-Ur-Ur-Ur-Enkel «Freude» haben, in watson, 2018,
  https://www.watson.ch/leben/wissen/652787665-an-unserem-plastik-werden-selbst-noch-unsere-ur-ur-ur-ur-enkel-freude-hab
  (abgerufen am 25.08.2022)
  <br>
  <br>
  4. PlasticEurope; Conversio: Weltweite und europäische Kunststoffproduktion in den Jahren von 1950 bis 2020, in:
  statista, 2021, https://de.statista.com/statistik/daten/studie/167099/umfrage/weltproduktion-von-kunststoff-seit-1950/
  (abgerufen am 25.08.2022)
  <br>
  <br>
  BKV. (2020). Verteilung der Post-Consumer-Abfälle bei Kunststoffen in Deutschland nach Einsatzfeldern im Jahr 2019.
  Statista. Statista GmbH. Zugriff: 08. September 2022.
  https://de.statista.com/statistik/daten/studie/244278/umfrage/post-consumer-abfaelle-bei-kunststoffen-nach-einsatzfeldern/
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Schließen</button>
</div>
