$form-check-input-checked-color:         #FFFFFF;
$form-check-input-checked-bg-color:       #697A6E;
$form-check-input-focus-border:           #697A6E;
$form-check-input-focus-box-shadow:       #697A6E;

